<!DOCTYPE html>
<html>
<head>
    <title>UmaIndex!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/img/icon.png">
    <style>
        @font-face {
            font-family: title1;
            src: url(/static/img/Daily\ Vibes.otf);
        }
    </style>
</head>
<body>

<header class="main-header">
    <h1 class="logo">UmaIndex!</h1>
    <div class="header-actions">
        <input type="text" id="searchInput" autocomplete="off"  placeholder="Buscar personagem...">
    </div>
</header>

<div class="grid">
    {% for char in characters %}
    <div class="card">
        <img src="{{ char['thumb_img'] }}" alt="{{ char['name_en'] }}">
        <div class="card-content">
            <h2>{{ char['name_en'] }}</h2>
            <span class="jp-name">{{ char['name_jp'] }}</span>
            <a class="btn" href="/character/{{ char['id'] }}">Ver detalhes</a>
        </div>
    </div>
    {% endfor %}
</div>


<script>
const searchInput = document.getElementById("searchInput");
const cards = document.querySelectorAll(".card");

searchInput.addEventListener("keyup", function () {
    const value = this.value.toLowerCase();

    cards.forEach(card => {
        const name = card.querySelector("h2").textContent.toLowerCase();

        if (name.includes(value)) {
            card.style.display = "block";
        } else {
            card.style.display = "none";
        }
    });
});
</script>
</body>
</html>